@{
    ViewBag.Title = "Nhom Quyen";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">@ViewBag.Title</h1>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive">
        <table id="items" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name Group</th>
                    <th style="width: 40px">Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Item">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="form-group">
                        <label for="Name">Name Group</label>
                        <input type="text" class="form-control" id="Name" name="Name" />
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnSave" data-toggle="modal"
                    data-target="#modal-default">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section Css {
    <link href="~/plugins/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        div.dt-buttons {
            float: right;
        }
    </style>
}
@section Js {
    <script src="~/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            var items = $("#items").DataTable({
                "dom": "Blfrtip",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Admin/Group/GetList",
                    "type": "POST",
                    "dataType": "json",
                    "error": function (xhr, error, code) {
                        toastr.error("Error: Khong co quyen truy cap chuc nang nay");
                    }
                },
                "columns": [
                    {
                        "data": null, "render": function (data, type, row, meta) { return meta.row + 1; }
                    },
                    {
                        "data": "name"
                    },
                    {
                        // "data": null, 
                        "render": function (data, type, row, meta) {
                            let tool =
                                '<div class="btn-group">' +
                                '<a class="text-primary btnEdit" href="#" data-id="' + row.id + '">' +
                                '<i class="fas fa-pencil-alt mr-3"></i>' +
                                '</a>' +
                                '<a class="text-danger btnDelete" href="#" data-id="' + row.id + '">' +
                                '<i class="fas fa-trash mr-3"></i>' +
                                '</a>' +
                                '</div>';

                            return tool;
                        }
                    }
                ],
                "buttons": [
                    {
                        text: '<i class="fa fa-plus mr-2"></i>Add Group',
                        className: 'btn btn-info pb-1',
                        action: function (e, dt, node, config) {
                            $("#modal-default form#Item")[0].reset();
                            $("Id").val(""); //Xac dinh chuc nang add or xoa
                            $("#modal-default").modal('show');
                        }
                    }
                ]
            });
            //Button Edit
            $(document).on("click", "a.btnEdit", function () {
                let id = $(this).data("id");
                $.getJSON("/Admin/Group/GetItem",
                    {
                        id: id
                    }, function (item) {
                        $("#Id").val(item.id);
                        $("#Name").val(item.name);
                        $("#modal-default").modal('show');
                    }).fail(function () {
                        toastr.error("Error: Khong co quyen truy cap chuc nang nay");
                    });
            });
            //Button Save
            $(".btnSave").click(function () {
                $.ajax({
                    data: $("#Item").serialize(),
                    url: "/Admin/Group/Save",
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (item) {
                        $("#modal-default").modal('hide');
                        toastr.success("Save success !!");
                        items.ajax.reload();
                    },
                    error: function () {
                        toastr.error("Error: Khong co quyen truy cap chuc nang nay");
                    }
                })
            })
            $(document).on('click', "a.btnDelete", function () {
                let id = $(this).data("id");
                Swal.fire({
                    title: 'Bạn chắc không?',
                    text: "Xoa khong the phuc hoi được !",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel'
                }).then(function (result) {
                    if (result.isConfirmed) {
                        $.get("/Admin/Group/Delete", {
                            id: id
                        }, function (data) {
                            if (data == true) {
                                toastr.success("Thong bao: Xoa nhom quyen thanh cong.");
                                items.ajax.reload();
                            } else {
                                toastr.error('Lỗi: Kiểm tra lại rang buoc toan ven của nhom quyen.')
                            }
                        }).fail(function () {
                            toastr.error("Error: Khong co quyen truy cap chuc nang nay");
                        });
                    }
                })
            })
        });

    </script>
}